*{
	margin: 0;
	padding: 0;
	font-family: 'News Cycle', sans-serif;
	color: rgb(72, 137, 242);
}

html{
	position: relative;
	min-height: 100%;
} 
body{
	background-color: white;
}
h1{
	text-align: center;
	font-size: 40pt;
}
h2{
	text-align: left;
	font-size: 30pt;
}
.mainLogo{
	display: block;
	padding: 10px;
	width: 150px;
	margin: auto;
}
.about{
	width: 60%;
	margin: auto;
	padding: 25px 0 25px 0;
}
.about > p{
	font-size: 16pt;
	color: rgb(120,120,120);
}
a:link{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
@media (max-width: 768px){
	.mainLogo{
		width: 100px;
	}
	.about > p{
		font-size: 14pt;
	}
	h1{
		font-size: 30pt;
	}
	h2{
		font-size: 20pt;
	}
}
/*-----------Project CSS-----------------*/
#navCollapser{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	margin: auto;
	width: 50px;
	height: 50px;
	background-color: rgb(72,137,242);
	border: none;
	cursor: pointer;
}
.iconBar{
	margin: 5px 0 5px 0;
	display: block;
	background-color: white;
	width: 50px;
	height: 5px;
}
#navCollapser #bar1, #navCollapser #bar2, #navCollapser #bar3{
	transition: transform .5s ease;
}
#navCollapser.animated #bar1{
	transform: rotate(45deg) translate(12.5px, 9.375px);
}
#navCollapser.animated #bar2{
	transform: scale(0);
}
#navCollapser.animated #bar3{
	transform: rotate(-45deg) translate(12.5px, -9.375px);
}
#projNav.animated{
	opacity: 1;
	max-height: 65px;
	transition: opacity .5s, height .5s ease;
	-webkit-transition: opacity .5s, max-height .5s ease;
}
#projNav{
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 10px 0 10px 0;
	transition: opacity .5s, height .5s ease;
	-webkit-transition: opacity .5s, max-height .5s ease;
}
#projNav > li{
	display: inline;
}
.btn{
	background: none;
	border: none;
	color: white;
	font-size: 20pt;
	font-weight: bold;
	padding: 20px;
	cursor: pointer;
}
.btn:hover{
	text-decoration: underline;
}
/*Projects Start*/
.projects{
	background-color: rgb(72,137,242);
	color: white;
	width: 100%;
	margin: auto;
	padding: 30px 0 30px 0;
}
.proj{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	padding: 15px;
}
.projWrapper{
	width: 60%;
	margin: auto;
}
.projText{
	width: 70%;
}
.projTitle{
	font-size: 25pt;
	color: white;
}
.tinyText{
	font-size: 12pt;
	font-weight: normal;
	color: rgb(195, 208, 229);
}
.projLink{
	cursor: pointer;
}
.projLink:hover{
	text-decoration: underline;
}
.projDesc{
	width: 75%;
	font-size: 14pt;
	color: white;
}
.projPic{
	cursor: pointer;
}
.webPic{
	width: 300px;
}
.cadPic{
	width: 300px;
}
.gdPic{
	width: 200px;
}
#projBreakBar{
	width: 100%;
	background-color: white;
	height: 2px;
	display: block;
}
@media (max-width: 768px){
	#projNav{
		flex-direction: column;
	}
	#projNav.animated{
		opacity: 1;
		max-height: 235px;
		transition: opacity .5s, height .5s ease;
		-webkit-transition: opacity .5s, max-height .5s ease;
	}
	.proj{
		flex-direction: column-reverse;
		width: 100%;
	}
	.projText, .projDesc{
		width: 100%;
	}
	.projPic{
		display: none;
	}
	.projects>.projWrapper>h2{
		font-size: 35pt;
		text-align: center;
		margin-bottom: 15px;
	}
	.projLink{
		font-size: 16pt;
	}
}
/*---------------------Footer--------------------*/
.foot{
	width: 100%;
	bottom: 0px;
	height: 40px;
	left: 0px;
	display: block;
}
.footerUL{
	width: 100%;
	list-style: none;
	text-align: center;
}
.footerUL > li{
	font-size: 25pt;
	display: inline;
	padding: 0 25px 10px 25px;
}
.footerIcon:link{
	color: rgb(72,137,242);
}
.footerIcon:visited{
	color: rgb(72,137,242);
}
.footerIcon:hover{
	color: rgb(42,97,202);
	-webkit-transition: 300ms all ease;
	-moz-transition: 300ms all ease;
	transition: 300ms all ease;
}
.foot > p{
	color: rgb(120, 120, 120);
	font-size: 14pt;
	text-align: center;
	padding: 5px 0 5px 0;
}
/*---------------------Modal----------------------------*/
.modal{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(40,40,60);
	background-color: rgba(40,40,60,.9);
}
.modal-content{
	margin: auto;
	display: block;
	width: 100%;
	max-width: 700px;
}
#caption{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}
/*------------------------------------------*/
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/*-------------------------------------------*/
.close{
	position: absolute;
	top: 10px;
	right: 35px;
	color: white;
	font-size: 40px;
	font-weight: bold;
	transition: .3s;
}
.close:hover,
.close:focus{
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
@media only screen and (max-width: 700px){
	.modal-content{
		width: 80%;
	}
	#caption{
		display: none;
	}
}