*{
	margin: 0;
	padding: 0;
	font-family: 'News Cycle', sans-serif;
	color: rgb(72, 137, 242);
}

html{
	position: relative;
	min-height: 100%;
} 
body{
	background-color: white;
}
h1{
	text-align: center;
	font-size: 40pt;
}
h2{
	text-align: left;
	font-size: 30pt;
}
.mainLogo{
	display: block;
	padding: 10px;
	width: 150px;
	margin: auto;
}
.about{
	width: 55%;
	margin: auto;
	padding: 25px 0 25px 0;
}
.about > p{
	font-size: 16pt;
	color: rgb(120,120,120);
}
a:link{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
/*-----------Project CSS-----------------*/
.projNav{
	width: 70%;
	text-align: center;
	margin: auto;
	display: block;
}
#navCollapser{
	width: 50px;
	height: 50px;
	background-color: rgb(72,137,242);
	border: none;
	cursor: pointer;
}
.iconBar{
	display: block;
	margin-top: 10px;
	background-color: white;
	width: 50px;
	height: 6px;
}
.bar1Animate{
	animation-name: barOne;
	animation-duration: .5s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-timing-function: easeOutBack;
	-webkit-animation-name: barOne;
	-webkit-animation-duration: .5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: easeOutBack;
}
.bar2Animate{
	animation-name: barTwo;
	animation-duration: .5s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	-webkit-animation-name: barTwo;
	-webkit-animation-duration: .5s;
	-animation-fill-mode: forwards;
	-webkit-animation-direction: alternate;
}
.bar3Animate{
	animation-name: barThree;
	animation-duration: .5s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-timing-function: easeOutBack;
	-webkit-animation-name: barThree;
	-webkit-animation-duration: .5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: easeOutBack;
}
.projNav > li{
	display: inline;
}
.btn{
	background: none;
	border: none;
	color: white;
	font-size: 20pt;
	font-weight: bold;
	padding: 20px;
	cursor: pointer;
}
.btn:hover{
	text-decoration: underline;
}

@keyframes barOne{
	from {
		transform: rotate(0deg) translate(0, 0) ;
	}
	to {
		transform: rotate(45deg) translate(12.5px, 12.5px);
	}
}
@-webkit-keyframes barOne{
	from {
		-webkit-transform: rotate(0deg) translate(0, 0);
	}
	to {
		-webkit-transform: rotate(45deg) translate(10px, 12.5px);
	}
}@keyframes barTwo{
	from {
		transform: scale(100%);
	}
	to {
		transform: scale(0);
	}
}
@-webkit-keyframes barTwo{
	from {
		-webkit-transform: scale(100%);
	}
	to {
		-webkit-transform: scale(0);
	}
}
@keyframes barThree{
	from {
		transform: rotate(0deg) translate(0,0);
	}
	to {
		transform: rotate(-45deg) translate(10px, -12.5px);
	}
}
@-webkit-keyframes barThree{
	from {
		-webkit-transform: rotate(0deg) translate(0,0);
	}
	to {
		-webkit-transform: rotate(-45deg) translate(10px, -12.5px);
	}
}
/*Projects Start*/
.projects{
	background-color: rgb(72,137,242);
	color: white;
	width: 100%;
	margin: auto;
	padding: 30px 0 30px 0;
}
.proj{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	padding: 15px;
}
.projWrapper{
	width: 55%;
	margin: auto;
}
.projText{
	width: 70%;
}
.projTitle{
	font-size: 25pt;
	color: white;
}
.tinyText{
	font-size: 12pt;
	font-weight: normal;
	color: rgb(195, 208, 229);
}
.projLink{
	cursor: pointer;
}
.projLink:hover{
	text-decoration: underline;
}
.projDesc{
	width: 75%;
	font-size: 14pt;
	color: white;
}
.projPic{
	cursor: pointer;
}
.webPic{
	width: 300px;
}
.cadPic{
	width: 200px;
}
.gdPic{
	width: 150px;
}
#projBreakBar{
	width: 100%;
	background-color: white;
	height: 2px;
	display: block;
}
@media (max-width: 768px){
	.proj{
		flex-direction: column-reverse;
	}
	.projPic{
		display: none;
	}
}
/*---------------------Footer--------------------*/
.foot{
	width: 100%;
	bottom: 0px;
	height: 40px;
	left: 0px;
	display: block;
}
.footerUL{
	width: 100%;
	list-style: none;
	text-align: center;
}
.footerUL > li{
	display: inline;
	padding: 0 25px 10px 25px;
}
.footerIcon:link{
	font-size: 25pt;
	color: rgb(72,137,242);
}
.footerIcon:visited{
	font-size: 25pt;
	color: rgb(72,137,242);
}
.footerIcon:hover{
	font-size: 25pt;
	color: rgb(42,97,202);
	-webkit-transition: 300ms all ease;
	-moz-transition: 300ms all ease;
	transition: 300ms all ease;
}
.foot > p{
	color: rgb(120, 120, 120);
	font-size: 14pt;
	text-align: center;
	padding: 5px 0 5px 0;
}
/*---------------------Modal----------------------------*/
.modal{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(40,40,60);
	background-color: rgba(40,40,60,.9);
}
.modal-content{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 400px;
}
#caption{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}
/*------------------------------------------*/
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/*-------------------------------------------*/
.close{
	position: absolute;
	top: 15px;
	right: 35px;
	color: white;
	font-size: 40px;
	font-weight: bold;
	transition: .3s;
}
.close:hover,
.close:focus{
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
@media only screen and (max-width: 700px){
	.modal-content{
		width: 100%;
	}
}