*{
	margin: 0;
	padding: 0;
	font-family: 'Dosis', sans-serif;
}

html{
	position: relative;
	min-height: 100%;
} 
body{
	background-color: white;
}
h2{
	color: white;
	font-size: 30pt;
	padding-bottom: 15px;
}
.projects{
	background-color: rgb(72,137,242);
	box-shadow: 0px 5px 2px rgb(125, 125, 125);
	color: white;
	width: 100%;
	margin: auto;
	padding: 30px;
}
.projWrapper{
	width: 50%;
	margin: auto;
}
.projText{
	float: left;
}
.projTitle{
	font-size: 20pt;
	font-weight: bold;
	color: white;
}
.projDate{
	font-size: 12pt;
	font-weight: normal;
	color: rgb(195, 208, 229);
}
.projSkills{
	font-size: 12pt;
	font-weight: normal;
	color: rgb(195, 208, 229);
}
.projDesc{
	font-size: 14pt;
	padding: 15px;
	color: white;
}
.projPic{
	float: right;
	position: static;
	width: 35%;
}