<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="James Tarr Web Developer CAD PLM CATIA Graphic Design">
	<meta name="description" content="Web Dev. CAD. PLM. Graphic Design. You name it, I got it.">
	<meta name="author" content="James Tarr">
	<title>James Tarr</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<link rel="icon" href="images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://use.fontawesome.com/2f2e879687.js"></script>
</head>

<body ng-app="projectApp">

	<!--Header-->
	<img class="mainLogo" src="images/JTLogo.svg" "JamesTarr"/>
	<h1>James Tarr</h1>
	<h2 style="text-align: center; font-size: 20pt;">Web • CAD • Graphics</h2>

	<!--Mission Statement-->
	<div class="about">
		<h2 style="padding-bottom: 10px;">What I'm About</h2>
		<p>I'm a diverse designer with experience in Web Development, PLM/CAD, and Graphic Design. I’m passionate about creating products that are both aesthetically and functionally appealing in a wide variety of mediums, and I hope to use my experience gained in work, school, and life to further grow and pursue this passion to the best of my abilities.</p>
	</div>

	<!--Projects-->
	<div class="projects" ng-controller="MainController">
		<div class="projWrapper">
			<h2 style="color: white;">Projects</h2>
			<div class="projNav" id="ProjectNav">
				<button id="webBtn" type="button" ng-click="catSwap(web);">WebDev</button>
				<button id="cadBtn" type="button" ng-click="catSwap(cad);">CAD</button>
				<button id="gdBtn" type="button" ng-click="catSwap(gd);">Graphic Design</button>
			</div>
			<div id="projContainer">
				<!--proj-info ng-repeat="project in projects"></proj-info>-->
				<div class="proj" ng-repeat="project in projects" ng-show="setShow($index)">
					<h3 class="projTitle">{{project.name}}</h3>
					<a href="{{project.link}}">
						<img class="projPic" ng-src="{{project.img}}" alt="{{project.name}} Picture"/>
					</a>	
					<div class="projText">
						<p class="projDate tinyText">{{project.startDate | date : mediumDate}} - {{project.endDate}}</p>
						<p class="projSkills tinyText">Skills Used: {{project.skillsUsed}}</p>
						<p class="projDesc">{{project.description}}</p>
						<br/><br/><br/>
						<a class="projLink tinyText" href="{{project.link}}">Click Here to View</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--About Me-->
	<div class="about">
		<h2>More About Me</h2>
		<p>I'm a senior at Purdue University going into my final semester, triple majoring in Computer Graphics Technology, Web Development and Design, and Virtual Product Integration. My passion for graphic design and its application spans broadly from creating both raster and vector graphics, to creating functional and aesthetically pleasing websites, and even creating CAD products using CATIA and NX9.</p>
		<br/>
		<p>I've worked on a wide variety projects, not only in my classes, but through freelance and collaborative work outside of the classroom. I also recently spent the summer interning with <a href="http://www.textron.com/">Textron Inc.</a> in their IT leadership development program working on backend web development.
		<br/>
		<p>You can reach me through any of my social media pages using the icons below, or via email at <a href="mailto:jrt1025@gmail.com">jrt1025@gmail.com</a>. Below you can find and download my online resume.</p>
		<br/>
		<p><a href="ResumeTemp.pdf">View Resume Here</a></p>
	</div>

	<!--Footer-->
	<div class="foot" ng-controller="MainController">
		<ul class="footerUL">
			<li ng-repeat="icon in footerIcons"><a  class="footerIcon" href="{{icon.link}}"><i class="{{icon.iFrame}}"></i></a></li>
		</ul>
		<p>James Tarr • 2017</p>
	</div>
</body>

<script src="js/app.js"></script>
<script src="js/controllers/MainController.js"></script>
<script src="js/directives/projectInfo.js"></script>
</html>