.web-container{
    display: grid;
    grid-template-columns: 35px 15px 700px;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "ico title title"
        ". skills skills"
        ". desc desc"
        ". link link";
    grid-gap: 5px 20px;
    align-items: center;
    margin: 40px auto;
}
.graphic-container{
    @include flexColumnCenter();
    margin: 40px auto;
}
.proj-ico{
    grid-area: ico;
    height: 20px;
}
.proj-img{
    grid-area: ico;
    width: 400px;
}
.proj-title{
    grid-area: title;
    font-size: 1.4em;
}
.proj-desc{
    grid-area: desc;
    margin: 0;
    justify-self: stretch;
}
.proj-link{
    grid-area: link;
    width: 100px;
}
.proj-skills{
    grid-area: skills;
    font-size: .8em;
}

@media only screen and (max-width : 812px){
    .web-container{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "ico title title"
            "skills skills ."
            "desc desc desc"
            "link link .";
        grid-gap: 5px 20px;
        align-items: center;
        margin: 40px auto;
    }
    .proj-img{
        width: 100%;
    }
}