/*Document Level*/
*{
    color: #2d2d2d;
    font-family: 'Roboto', sans-serif;
}
html{
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}
body{
    background-color: #f2f2f2;
    margin-bottom: 75px;
}

h1,h2,h3{
    margin: 0;
}
h2,h3{
    margin-bottom: 10px;
}
h2{
    font-size: 1em;
}
.hidden{
    display: none;
}
/*Header*/
#header{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.circle-photo{
    width: 125px;
    border-radius: 50%;
    margin-top: 15px;
}
#site-toggle{
    margin-top: 10px;
}
.theme-button{
    text-align: center;
    border-radius: 50px;
    padding: 5px 10px;
    cursor: pointer;
}
.theme-button:hover{
    background: #e5e5e5;
}
.theme-button.active{
    transition: .5s;
    color: white;
    background: #4286f4;
}
/*Navigation*/
nav{
    position: absolute;
    right: 25px;
    top: 25px;
}
#nav-menu{
    background: #4286f4; 
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.bar{
    background-color: white;
    width: 35px;
    height: 5px;
    margin: 3px 0;
}
#nav-list>li{
    text-decoration: none;
}
#nav-menu.expanded{
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 100% !important; 
    height: 100% !important;
    border-radius: 0% !important;
    position: absolute !important;
    right: 25px !important;
    top: 25px !important;
}
nav.expanded{
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    top: 0 !important;
    right: 0 !important;
    height: 100% !important;
    width: 150px !important;
}
/*Content*/
.text-content{
    font-size: 1.1em;
    width: 50%;
    margin: auto;
    line-height: 1.4em;
}
.section{
    margin-bottom: 25px;
}
/*Footer*/
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
footer>p{
    margin: 0;
}
#social{
    padding: 10px 0;
    margin: 0;
}
#social>li{
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    display: inline;
}
#social>li>a{
    font-size: 1.6em;
}